include ../head.pug

body
  .container.mt-5
    h1 Edit Review
    form(action="/reviews/update" method="POST")
      input(type="hidden" name="id" value=review.id)
      .mb-3
        label(for="bookTitle" class="form-label") Book title
        input(type="text" class="form-control" id="bookTitle" name="bookTitle" value=review.bookTitle required)

      .mb-3
        label(for="author" class="form-label") Author
        input(type="text" class="form-control" id="author" name="author" value=review.author required)

      .mb-3
        label(for="genre" class="form-label") Genre
        input(type="text" class="form-control" id="genre" name="genre" value=review.genre required)
      .mb-3
        label(for="rating" class="form-label") Rating (1-5)
        input(type="number" class="form-control" id="rating" name="rating" value=review.rating required)
      .mb-3
        label(for="insight" class="form-label") Insights
        textarea(class="form-control" id="insight" name="insight" rows="3" required) #{review.insight}

      button(type="submit" class="btn btn-primary") Update
